KSP.exe
KSP.log
readme.txt
MiniAVC.log
KSP_Data/*
Ships/*
saves/scenarios/*
saves/training/*
saves/Genesis/Ships/*/Auto-Saved Ship.craft
saves/Genesis/Ships/*/Untitled Space Craft.craft
thumbs/*
GameData/Squad/*
GameData/PlanetShine/Plugins/PlanetShine.log
GameData/MechJeb2/Plugins/MechJeb2.log
GameData/MechJeb2/Plugins/PluginData/MechJeb2/*.cfg
