KSP.exe
KSP.log
readme.txt
MiniAVC.log
~$balance.xlsx
PartDatabase.cfg
KSP_Data/*
Ships/*
Screenshots/*
saves/scenarios/*
saves/training/*
saves/*/Ships/*/Auto-Saved Ship.craft
saves/*/Ships/*/Untitled Space Craft.craft
saves/*/AGExt*.cfg
thumbs/*
GameData/Squad/*
GameData/PlanetShine/Plugins/PlanetShine.log
GameData/MechJeb2/Plugins/MechJeb2.log
GameData/MechJeb2/Plugins/PluginData/MechJeb2/*.cfg
