<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="editorWinPos">
        <xmin>424</xmin>
        <xmax>825</xmax>
        <ymin>310</ymin>
        <ymax>760</ymax>
    </rect>
    <rect name="presetWinPos">
        <xmin>1190</xmin>
        <xmax>1390</xmax>
        <ymin>220</ymin>
        <ymax>382</ymax>
    </rect>
    <rect name="controlWinPos">
        <xmin>692</xmin>
        <xmax>993</xmax>
        <ymin>69</ymin>
        <ymax>163</ymax>
    </rect>
    <bool name="useEC">1</bool>
    <bool name="allowFlipHack">0</bool>
</config>