<?xml version="1.0" encoding="utf-8"?>
<config>
    <bool name="showToolbar">1</bool>
    <bool name="showAppLauncher">1</bool>
    <int name="ResourceWindow.x">1269</int>
    <int name="ResourceWindow.y">527</int>
    <bool name="showTotalMass">1</bool>
    <bool name="showDryMass">1</bool>
    <bool name="showCrewCapacity">1</bool>
    <bool name="showPartCount">1</bool>
    <bool name="showTWR">1</bool>
    <int name="SettingsWindow.x">1099</int>
    <int name="SettingsWindow.y">218</int>
</config>